.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-bottom: 84px;
}

footer {
    background-color: #252525;
    color: #AAAAAA;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    min-height: 70px;
    margin-top: auto;
    flex-shrink: 0;
}

header {
  height: 110px;
  background-color: #FFF7ED;
  display: flex;
  align-items: center;
  padding-block: 10px;
  padding-left: 10px;
  padding-right: 10px;
  
}

a.active-link {
    font-weight: bold;
    text-decoration: underline;
    color: #161616;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

.hero-section {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/home.png") no-repeat center center;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 350px;
    color: white;
    padding: 45px 23px;
   
}

.hero-section h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.hero-section p {
    line-height: 24px;
}

.hero-section a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.hero-section a:hover {
    transform: translate(1px, 1px);
    background-color: #e17f39;
}

.about-container {
  background-color: #FFF7ED;
}

.about-container img {
  /* max-height: 550px;
  max-width: 100%;
  width: 100%; */
  max-width: 100%;
  width: 100%;
}

.about-content {
  padding-top: 20px;
  padding-bottom: 45px;
  padding-right: 30px;
  padding-left: 30px;
}

.about-cto {
  min-height: 200px;
  background-color: #FFCC8D;
  border-radius: 5px;
  padding-top: 20px;
  padding-left: 50px;
  margin-top: 50px;
  /* line-height: 12px; */
}


.about-link{
    background-color: #161616;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    /* color: initial; */
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
    border-radius: 10px;
    margin-top: 10px;
}

.about-link:hover {
    transform: translate(1px, 1px);
}

.vanscard-container {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 30px;
}

.vanscard-container img{
  max-width: 100%;
  border-radius: 5px;
}

.vans-card a {
  color: #161616;
  text-decoration: none; 
}

.vanscard-content {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

.vanscard-content h3 {
  font-size: 20px;
  line-height: 18px;
  margin: 0;
  padding-top: 10px;
}

.vanscard-content span {
  font-size: 14px;
  color: #161616;
  margin-left: 6px;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}

.van-detail-container {
    padding: 27px;
    /* background-color: #115E59; */
  
    /* display: flex;
    justify-content: center; */
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button:visited {
    
}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
    /* max-width: 600px; */
    justify-content: center;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail > i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
}

.host-nav {
  display: flex;
  padding: 30px;
  gap: 20px;
}

.host-nav a {
  color: black;
}

.host-nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.hostvans-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    /* background-color: #115E59; */
}

.hostVans-card {
    display: flex;
    align-items: center;
    max-height: 102px;
    background-color: white;
    padding: 20px;
    gap: 20px;
    line-height: 5px;
    border-radius: 6px;
}

.hostVans-card p {
    color: #4D4D4D;
    font-size: 16px;
}

.hostVans-card img {
    width: 66px;
    border-radius: 5px;
}

.host-vans-title {
  margin-left: 32px;
  /* padding-left: 20px; */
} 

.host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
}
